<!DOCTYPE html>
<html>
<title>The Grilled Cheese Locator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://pickywallpapers.com/img/2018/5/grilled-cheese-hd-desktop-wallpaper-137-144-hd-wallpapers.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
}
</style>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    The grill cheese locator made by peace
  </div>
  <div class="w3-display-middle">
    <ul>
{% for x in result %}
    <a href={{x}} style="color:white">{{x}}</a>
{% endfor %}
</ul>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
      <br>
      <li>based on ip location</li>
  </div>
</div>
</body>
</html>
